* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}
body {
    min-height: 100vh;
    background: #0f011f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentageCard {
    position: relative;
    width: 320px;
    background: rgba(0, 0, 0, .2);
    padding: 0 2px;
}
.percentageCard .skills {
    margin: 20px 0;
    display: flex;

}
.percentageCard .skills .porcentage {
    margin-left: 15px;
}

.percentageCard .skills .progress {
    direction: rtl;
    position: relative;
    width: 100%;
    height: 6px;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0 0 15px;
    border: 1px solid white;

}
.percentageCard .skills .progress::before {
    content: '';
    position: absolute;
    width: var(--wth);
    height: 100%;
    background: #0280fe;
}
