* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}
body {
    min-height: 100vh;
    background: #0f011f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentageCard {
    position: relative;
    height: auto;
    width: 320px;
    background: rgba(0, 0, 0, .2);
    padding: 0 2px;
}
.percentageCard .skills {
    margin: 20px 0;
    display: flex;

}
.percentageCard .skills .porcentage {
    margin-left: 15px;
}

.percentageCard .skills .progress {
    direction: rtl;
    position: relative;
    width: 100%;
    height: 6px;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0 0 15px;
    border: 1px solid white;

}
.percentageCard .skills .progress::before {
    content: '';
    position: absolute;
    width: var(--wth);
    height: 100%;
    background: #0280fe;
}
.torta {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
  }
  
  .porcion {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
    overflow: hidden;
  }
  
  .porcion1 {
    transform: rotate(0deg);
    background: conic-gradient(#ff6347 0%, #ff6347 25%, #00ff00 25%, #00ff00 50%, #0000ff 50%, #0000ff 75%, #ffd700 75%, #ffd700 100%);
  }
  
  .porcion2 {
    transform: rotate(90deg);
    background: conic-gradient(#ffd700 0%, #ffd700 25%, #ff6347 25%, #ff6347 50%, #00ff00 50%, #00ff00 75%, #0000ff 75%, #0000ff 100%);
  }
  
  .porcion3 {
    transform: rotate(180deg);
    background: conic-gradient(#0000ff 0%, #0000ff 25%, #ffd700 25%, #ffd700 50%, #ff6347 50%, #ff6347 75%, #00ff00 75%, #00ff00 100%);
  }
  
  .porcion4 {
    transform: rotate(270deg);
    background: conic-gradient(#00ff00 0%, #00ff00 25%, #0000ff 25%, #0000ff 50%, #ffd700 50%, #ffd700 75%, #ff6347 75%, #ff6347 100%);
  }


